@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base 
{
  html {
    -webkit-tap-highlight-color: transparent;
  }
  @font-face {
    font-family: 'Iransans';
    src: local('Iransans'), url("/fonts/iransansFanumLight.woff") format('woff');
      font-weight: 400;
      font-display: swap;
      font-style: normal;
  }
  
}


*
{
  @apply box-border;
  @apply m-0;
  @apply p-0;
  @apply font-iransans;
}

body 
{
  overflow:overlay
}
/* @font-face {
  font-family: 'Iransans';
  src: local('Iransans'), url("/fonts/IRANSansWeb(FaNum)_Light.ttf") format('ttf'),
       local('Iransans'), url("/fonts/IRANSansWeb(FaNum)_Medium.ttf") format('ttf');
} */

#__next {
  @apply min-h-screen;
  @apply flex;
  @apply flex-col;
  @apply bg-atysa-primary;
  @apply -z-50
}




* {
  scrollbar-width: auto;
  scrollbar-color: #bababaac transparent;
}


*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: transparent; 
}

*::-webkit-scrollbar-thumb {
  background-color: #bababaac;
  border-radius: 10px;
  border: 3px solid transparent;
  transition: opacity 0.5s 0.5s ease-out;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

.place-center {
  @apply justify-center;
  @apply items-center;
}


.box {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 0; right: 0; margin: 50px auto;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.effect {
  height: auto;
  font: 2em sans-serif;
  padding: .8em;
  color: #fff;
  background: rgba(0,0,0,.5);
  overflow: hidden;
  box-shadow: none;
  border-radius: 0 0 50% 0;
}

/* support backdrop-filter */
@supports ( (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)) ) {
  .effect {
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}

/* no support backdrop-filter */
@supports ( not ( (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)) ) ) {
  .effect {
    -webkit-filter: url(#backdrop-filter-blur);
            filter: url(#backdrop-filter-blur);
  }
}

.backdrop 
{
  animation: 0.3s ease 0s 1 normal forwards fadeIn50;
}

@keyframes fadeIn50 {
  from  {
    background-color: #00000000;
  }
  to {
    background-color: #40404066;
  }
}

